doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    link(rel='stylesheet', href='/css/sample.css')
  body
    h1 todo jade application
    p jade는 html프리프로세서로 jade를 컴파일 하면 html이 되는 방식이다.
    script(src='/js/sample.js')